html{
  overflow-x: hidden!important;
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  overflow: hidden!important;
  width: 100%;
  background: pink;
}

h1,h2,h3,h4,h5,h6 {
  margin: 0;
  padding: 0;
  font-family: 'Quinta', sans-serif;
  color: #000;
  font-weight: 600;
  @media only screen and (max-width: 575px) {
    font-size: 20px;
    line-height: 22px;
    margin-bottom: 20px;
  }
}
h1{
  font-size: 24px;
  line-height: 45px;
  margin-bottom: 30px;
}
h2{
  font-size: 24px;
  line-height: 43px;
  margin-bottom: 30px;
}
h3{
  font-size: 23px;
  line-height: 41px;
  margin-bottom: 30px;
}
h4{
  font-size: 22px;
  line-height: 39px;
  margin-bottom: 30px;
}
h5{
  font-size: 22px;
  line-height: 33px;
  margin-bottom: 30px;
}
h6{
  font-size: 21px;
  line-height: 31px;
  margin-bottom: 30px;
}
hr{
  margin-bottom: 30px;
}
p{
  font-family: 'Quinta', sans-serif;
  font-size: 13px;
  color: #000;
  font-weight: 400;
  line-height: 22px;
  margin: 0;
  padding: 0;
  margin-bottom: 10px;
  @media only screen and (min-width: 576px) {
    font-size: 16px;
    line-height: 25px;
    margin-bottom: 25px;
  }
  strong{
      font-family: 'Quinta', sans-serif;
      font-weight: 400;
      color: #000;
      font-size: 16px;
      line-height: 20px;
      margin-bottom: 0;
      display: inline-block;
      @media only screen and (min-width: 768px) {
          font-size: 18px;
          line-height: 25px;
      }
  }
}

a{
  text-decoration: none;
  font-family: 'Quinta', sans-serif;
  font-weight: 400;
  color: #22376F;
  &:hover{ 
    text-decoration: underline;
  } 
}

img{
	width: 100%;
    height: auto;
    margin-top: 25px;
    margin-bottom: 50px;
}

strong{
    font-family: 'Quinta', sans-serif;
    font-weight: 400;
    color: #000;
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 25px;
    display: inline-block;
    @media only screen and (min-width: 768px) {
        font-size: 18px;
        line-height: 25px;
    }
}

span{
    font-family: 'Quinta', sans-serif;
    line-height: 1;
}

/* -------------------------------- 

Primary style

-------------------------------- */
*, *::after, *::before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*:hover, *:focus, *:active {
  outline:none;
}

